<% if todo_item.persisted? %>

<div class="todo_item">
	<div>
		<span class="todo_item_title">
			<%= "#{todo_item.task_title} (#{time_ago_in_words(todo_item.due_date)})" %>
		</span>
	</div>
	<div>
		<%= simple_format(todo_item.description) %>
	</div>
</div>



<% end %>